<%= form_with model: @post, local: true, class: "max-w-lg mx-auto p-5" do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <strong class="font-bold">Oops!</strong>
      <span class="block sm:inline"><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</span>
      <ul class="list-disc list-inside">
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :brand, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :brand, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :model, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :model, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :body_type, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :body_type, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :mileage, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :mileage, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :color, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :color, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :price, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :price, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :fuel, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :fuel, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :year, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :year, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :engine_capacity, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :engine_capacity, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :phone_number, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :phone_number, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="field">
    <%= form.label :image, style: "display: block;" %>
    <%= form.file_field :image %>
  </div>

  <div class="flex items-center justify-between">
    <%= form.submit "Save", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>


