<div class="container mx-auto">
  <div class="mb-6">
    <%= form_with url: filter_posts_path, method: :get, data: { turbo_frame: "posts" }, class: "flex items-center space-x-4" do |f| %>
       <%= f.label :status, "Filter by Status:", class: "text-lg font-semibold" %>
      <%= f.select :status, options_for_select(Post.statuses.keys.map { |s| [s.titleize, s] }, params[:status]), { prompt: 'All' }, class: "block w-64 p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500", onchange: 'this.form.submit();' %>
    <% end %>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6" id="posts" data-controller="turbo-frame">
    <% @posts.each do |post| %>
        <div class="bg-white rounded-lg shadow-md p-4 transition duration-300 ease-in-out hover:shadow-lg">
          <%= link_to post_path(post) do %>
            <%= image_tag post.image, class: "w-full h-48 object-cover rounded-md mb-4" %>
        <% end %>
        <p class="text-center text-lg font-semibold"><%= "#{post.brand}, #{post.model}" %></p>
      </div>
    <% end %>
  </div>
</div>
