<div>
  <h1><%= @post.brand %> <%= @post.model %></h1>

  <% if @post.image.attached? %>
    <%= image_tag @post.image, style: "width: 100px; height: 100px;" %>
  <% end %>

  <p><%= @post.body_type %></p>
  <p><%= @post.mileage %></p>
  <p><%= @post.color %></p>
  <p><%= @post.price %></p>
  <p><%= @post.fuel %></p>
  <p><%= @post.year %></p>
  <p><%= @post.engine_capacity %></p>
  <p><%= @post.phone_number %></p>
  <p><%= @post.name %></p>

  <%= link_to 'Edit', edit_post_path(@post) %>
  <%= link_to 'Back', posts_path %>
</div>